node_modules
dist/tests/
.travis.yml
.gitignore
docs/
.DS_Store
src
test
.idea
.gitmodules
.gitattributes
tmp/
temp/
.tscache
npm-debug.log
*.iml
package-lock.json
tsconfig.json
tslint.json
coverage/
